@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'League Spartan', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&display=swap');
}


:root {
    --cor0: #F5A50B;
    --cor1: #FC8005;
    --cor2: #E64D07;
    --cor3: #FC2605;
    --cor4: #F2052B;

    --fonte-padrão: 'Fredoka', cursive;
    --fonte-seria: 'League Spartan', cursive;
}

h1 {
    text-align: center;
    margin: 20px;
    font-family: var(--fonte-seria);
    font-size: 70px;
    color: rgba(0, 0, 0, 0.623);
}

* {
    margin: 0;
    padding: 0;
}

body, ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: var(--fonte-padrão);
}

a {
    color: white;
    text-decoration: none;
}

.header {
    background-image: linear-gradient(to right, #F2052B, #E64D07, #F5A50B);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    margin: auto;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    max-width: 1300px;
}

img {
    max-width: 100%;
    display: block;
    border-radius: 10px;
}

.header_logo {
    margin-left: auto;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 15px;
}

.menu li a {
    display: block;
    padding: 10px;
    background: none;
}

main {
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
}

div {
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.356);
}

footer {
    background-image: linear-gradient(to right, #E64D07, #F5A50B);
    color: white;
    padding: 10px;
    text-align: right;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;margin: 0 auto;
}

.flex > div {
    flex: 1 1 200px;
    margin: 15px;
    color: rgba(0, 0, 0, 0.527);
}